<ion-header>
    <ion-toolbar>
        <ion-title>perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-avatar class="ion-margin-start">
        <img src="./">
    </ion-avatar>

    <ion-list>
        <ion-item>
            <ion-input placeholder="Nome"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="E-mail"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Celular"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Senha"></ion-input>
        </ion-item>


    </ion-list>
</ion-content>